body {
    margin: 0;
    padding: 0;
    
    font-family: Gilroy, Aria, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* Шапка */

.main-header {
    background-color: rgba(240, 197, 46, 0.5);
}

.main-header a {
    color: #000000;
}

.logo:hover,
.logo:focus {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.middle-head {
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.search-input {
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    border: none;
    outline: none;
    background-color: #f7e296;
    opacity: 0.3;
}

.search-input:hover {
    opacity: 0.6;
}

.search-input:active,
.search-input:focus {
    opacity: 1;
}

.search-find {
    display: none;
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    border: 2px solid black;
    background-color: #f7e296; 
}

.search-input:active + .search-find,
.search-input:focus + .search-find {
    display: inline-block;
}

.search-find:hover,
.search-find:focus {
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
}

.search-find:active {
    color: rgba(255, 255, 255, 0.3);
}

.user-link:hover,
.user-link:focus {
    opacity: 0.6;
}

.user-link:active {
    opacity: 0.3;
}

.exit-profile {
    opacity: 0.3;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.head-nav-main {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.head-nav-main:hover,
.head-nav-main:focus {
    opacity: 0.6;
}

.head-nav-main:active {
    opacity: 0.3;
}

.head-nav-list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
}

.head-nav-item:hover,
.head-nav-item:focus {
    opacity: 0.6;
}

.head-nav-item:active {
    opacity: 0.3;
}

/* Основной контент */

/* Категории товаров */

.categories-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories-list a {
    color: #000000;
}

.categories-img {
    text-align: center;
    line-height: 160px;
    
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}

.categories-img img {
    vertical-align: middle;
}

.categories-selfie img {
    vertical-align: bottom;
}

.categories-item a:hover .categories-img,
.categories-item a:focus .categories-img {
    background-color: rgb(240, 197, 46);
}

.categories-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.categories-item a:active img {
    opacity: 0.3;
}

/* Для IE11 */

.categories-img:active img {
    opacity: 0.3;
}

.categories-item img:active {
    opacity: 0.3;
}

/* ----- */


/* Бренды */

.brands-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands-list a {
    filter: grayscale(1);
    opacity: 0.2;
}

.brands-list a:hover,
.brands-list a:focus {
    filter: none;
    opacity: 1;
}

/* О компании и контакты */

.company-head {
    margin: 0;
    
    font-size: 47px;
    line-height: 108px;
}

.company-container p {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.delivery {
    font-size: 16px;
    line-height: 40px;
    list-style: none;
}

.company-link {
    display: inline-block;
    position: relative;
    
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    width: 260px;
}

.company-link::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 8px;
    left: 0;
    top: 16px;
    z-index: -1;
    background-color: #f0c52e;
}

.company-link:hover::after,
.company-link:focus::after {
    height: 40px;
    top: 0px;
}

.company-link:active {
    color: rgba(0, 0, 0, 0.3);
}


/* Подвал */

.footer {
    background-color: #464646;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer-acc {
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
}

.footer-user-link {
    opacity: 0.7;
}

.footer-user-link:hover,
.footer-user-link:focus {
    opacity: 1;
}

.footer-user-link:active {
    opacity: 0.3;
}

.footer-middle p {
    font-family: Open Sans, Aria, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-nav a:hover,
.footer-nav a:focus {
    opacity: 0.6;
}

.footer-nav a:active {
    opacity: 0.3;
}

.social {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.3;
}

.social:hover,
.social:focus {
    opacity: 0.6;
}

.social:active {
    opacity: 0.1;
}

.social-fb::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
}

.social-inst::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
}

.social-twit::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}

.creator {
    display: inline-block;
    position: relative;
    width: 27px;
    height: 35px;
}

.creator:hover,
.creator:focus {
    opacity: 0.6;
}

.creator:active {
    opacity: 0.3;
}

.creator::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/logo-html.svg);
    background-repeat: no-repeat;
}

/* Попапы */

.write-us-popap,
.full-map {
    display: none;
}

/* Каталог */

.catalog-title {
    margin: 0;
    font-size: 47px;
    line-height: 134px;
}

.breadcrumbs-list {
    margin: 0;
    padding: 0;
    
    font-family: Open Sans, Aria, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    list-style: none;
}

.breadcrumbs-list a {
    color: #000000;
    opacity: 0.3;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
    opacity: 0.6;
}

.breadcrumbs-list a:active {
    opacity: 0.1;
}

/* Фильтр и сортировка */

.filter-title {
    font-size: 16px;
    line-height: 84px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #dbdbdb;
}

.filter {
    background-color: #efefef;
}

.filter label {
    font-family: Open Sans, Aria, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
}

.filter-show {
    position: relative;
    font-family: Gilroy, Aria, sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    width: 200px;
    height: 40px;
    z-index: 1;
    border: none;
    background-color: #efefef;
}

.filter-show::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    left: 0;
    top: 17px;
    z-index: -1;
    background-color: #f0c52e;
}

.filter-show:hover::after,
.filter-show:focus::after {
    height: 40px;
    top: 0px;
}

.filter-show:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Карточки товаров */

.catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price {
    font-size: 16px;
    font-weight: 300;
    color: #464646;
}

.catalog-item {
    position: relative;
}

.catalog-item-hover {
    display: none;
    position: absolute;
    padding-top: 169px;
    width: 360px;
    height: 211px;
    top: 0;
    left: 0;
    background-color: rgba(238, 238, 238, 0.7);
}



.add-cart {
    display: block;
    position: relative;
    margin: auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
    color: #000000;
}

.add-cart::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    left: 0;
    top: 16px;
    z-index: -1;
    background-color: #f0c52e;
}

.add-cart:hover::after,
.add-cart:focus::after {
    height: 40px;
    top: 0px;
}

.add-cart:active {
    color: rgba(0, 0, 0, 0.3);
}

.add-compare {
    display: block;
    font-family: Open Sans, Aria, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    opacity: 0.5;
}

.add-compare:hover,
.add-compare:focus {
    opacity: 1;
}

.add-compare:active {
    opacity: 0.2;
}

.catalog-item:hover .catalog-item-hover {
    display: block;
}

/* Пагинатор */

.pagination {
    background-color: #ebebeb;
}

.pagination ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination a {
    color: #000000;
}

.page {
    display: inline-block;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page-next {
    opacity: 0.3;
}

.page-next:hover,
.page-next:focus {
    opacity: 0.6;
}

.page-next:active {
    opacity: 1;
}

.page-back {
    width: 126px;
    height: 70px;
}

.page-forward {
    width: 137px;
    height: 70px;
}

.page-arrow:hover,
.page-arrow:focus {
    background-color: #d9d9d9;
}

.page-arrow:active {
    color: rgba(0, 0, 0, 0.3);
}

























